
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ssd VENIDO</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">LJKHLJKHKLJH Web apps with ASP.NET Core</a>.</p>
</div>
